
.labels:enabled{
    background-color: green;
}
.labels:focus{
    background-color: blue;
}
.labels:disabled{
    background-color: red;
}
.labels:hover{
    background-color: gold;
}
#hombre:checked + label{
    font-style: italic;
}
#mujer:checked + label{
    font-style: italic;
}

#check:checked + label{
    background-color: gold;
    font-weight: bold;
}
