*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2{
    background-color: lightgray;
    color: orange;
    text-align: center;
    padding: 20px;
    border-bottom: solid green;
}

nav {
    width: 36%;
    color: white;
}

nav li {
    margin-left: -3px;
    display: inline-block;
    padding: 15px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: skyblue;
    position: relative;
}

nav li:hover{
    background-color: black;
    color: white;
}

nav > li:hover > ul > li {
    background-color: black;
}

nav > li > ul{
    background-color: black;
    display: none;
    position: absolute;
    width: 230px;
    padding: 15px;
    margin-left: -80px;
}


nav > li:hover > ul {
    display: block;
}

nav > li > ul > li:hover {
    background-color: orange;
}


section li {
    text-align: center;
    width: 5%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: lightblue;
    border: solid orange;
    border-width: 1px;
}

section li::before {
    content: "👉 ";
}

section li:hover {
    background-color: rgb(207, 230, 238);
}

footer {
    margin-top: 30%;
    padding: 40px;
    background-color: black;
}

footer a:nth-child(1){
    float: left;
    color: rgb(0, 119, 255);
}

footer a:nth-child(2){
    float: right;
    color: rgb(0, 119, 255);
}

main > div {
    width: 27%;
    margin: auto;
}


main > div > div{
    padding: 20px;
    float: right;
    float: left;
    width: 500px;
    display: block;
}



main div img {
    padding:  10px;
}
