* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.clip{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -100;
    background-color: rgb(95, 59, 224);
    clip-path: polygon(31% 0, 100% 0, 100% 100%, 0% 100%);
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 80%;
    padding: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: repeat(6, 60px);
    gap: 35px;
    justify-content: space-between;
    
}

h1::after {
    content: " ";
    display: block;
    border-bottom: 3px solid rgb(95, 59, 224);
    width: 100px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.grid > input {
    height: auto;
    padding: 20px;
    text-align: start;
    grid-column: 1;
}

.grid > input::placeholder{
    position: relative;
    
}

textarea:nth-child(3) {
    grid-column: 1;
    grid-row: span 3;
    resize: none;
    padding: 20px;
}

input[type="submit"]{
    width: 300px;
    height: 60px;
    text-align: center;
    color: white;
    background-color: rgb(95, 59, 224);
    border: none;
    box-shadow: 1px 1px 10px 1px rgb(68, 43, 156);
}


img {
    grid-row: 1;
    grid-row-end: 7;
    grid-column: 2;
    width: auto;
    height: 100%;
}